.Employee-img {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20%;
  margin-top: 15%;
}
@import url(https://fonts.googleapis.com/css?family=Akronim);

body {
  background: rgb(0, 0, 0);
}

.fire {
  margin: 50px auto;
  margin-top: 25%;
  width: 100%;
  max-width: 1000px;
  height: 200px;
  background-position: center center;
  background-size: 1000px 200px;
  border-radius: 10px;
  font-family: "Akronim";
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
}
.fire:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.Blazing {
  display: inline-block;
  margin: 0;

  color: rgb(42, 42, 43);
  font-size: 70px;
  line-height: 80px;
  min-width: 50px;
  outline: none;
  vertical-align: middle;

  text-shadow: 0 3px 20px rgb(68, 68, 68), 0 0 20px rgb(68, 68, 68),
    0 0 10px rgb(36, 35, 35), 4px -5px 6px rgb(165, 165, 152),
    -4px -10px 10px rgb(165, 165, 152), 0 -10px 30px rgb(165, 165, 152);
  animation: 2s Blazing infinite alternate linear;
}

@keyframes Blazing {
  0% {
    text-shadow: 0 3px 20px rgb(68, 68, 68), 0 0 20px rgb(61, 61, 61),
      0 0 10px rgb(140, 140, 141), 0 0 0 rgb(165, 165, 152),
      0 0 5px rgb(0, 0, 0), -2px -5px 5px rgb(165, 165, 152),
      4px -10px 10px rgb(165, 165, 152);
  }
  25% {
    text-shadow: 0 3px 20px rgb(68, 68, 68), 0 0 30px rgb(61, 61, 61),
      0 0 20pxrgb (0, 26, 255), 0 0 5px rgb(165, 165, 152),
      -2px -5px 5px rgb(0, 0, 0), 3px -10px 10px rgb(165, 165, 152),
      -4px -15px 20px rgb(165, 165, 152);
  }
  50% {
    text-shadow: 0 3px 20px rgb(68, 68, 68), 0 0 20px rgb(61, 61, 61),
      0 -5px 10px rgb(165, 165, 152), -2px -5px 5px rgb(165, 165, 152),
      3px -10px 10px rgb(0, 0, 0), -4px -15px 20px rgb(165, 165, 152),
      2px -20px 30px rgba(0, 0, 0, 0.5);
  }
  75% {
    text-shadow: 0 3px 20px rgb(68, 68, 68), 0 0 20px rgb(61, 61, 61),
      0 -5px 10px rgb(165, 165, 152), 3px -5px 5px rgb(165, 165, 152),
      -4px -10px 10px rgb(0, 0, 0), 2px -20px 30px rgba(0, 0, 0, 0.5),
      0px -25px 40px rgba(255, 255, 0, 0);
  }
  100% {
    text-shadow: 0 3px 20px rgb(68, 68, 68), 0 0 20px rgb(61, 61, 61),
      0 0 10px rgb(165, 165, 152), 0 0 0 rgb(165, 165, 152),
      0 0 5px rgb(165, 165, 152), -2px -5px 5px rgb(165, 165, 152),
      4px -10px 10px rgb(0, 0, 0);
  }
}

.title-word {
  animation: color-animation 4s linear infinite;
}

.title-word-1 {
  --color-1: #df8453;
  --color-2: #3d8dae;
  --color-3: #e4a9a8;
}

.title-word-2 {
  --color-1: #dbad4a;
  --color-2: #accfcb;
  --color-3: #17494d;
}

.title-word-3 {
  --color-1: #accfcb;
  --color-2: #e4a9a8;
  --color-3: #accfcb;
}

.title-word-4 {
  --color-1: #3d8dae;
  --color-2: #df8453;
  --color-3: #e4a9a8;
}
.title-word-5 {
  --color-1: #a5acab;
  --color-2: #050505;
  --color-3: #858483;
}

@keyframes color-animation {
  0% {
    color: var(--color-1);
  }
  32% {
    color: var(--color-1);
  }
  33% {
    color: var(--color-2);
  }
  65% {
    color: var(--color-2);
  }
  66% {
    color: var(--color-3);
  }
  99% {
    color: var(--color-3);
  }
  100% {
    color: var(--color-1);
  }
}

/* Here are just some visual styles. 🖌 */

.container {
  display: grid;
  place-items: center;
  text-align: center;
  height: 45vh;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 3vw;
  text-transform: uppercase;
}
